/* Estilo para el fotolibro de bebé */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center; /* Centra todo el contenido */
}

.grid-item {
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.container {
    text-align: center;
    width: 100%;
}

h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #000000; /* Cambia el color del texto si lo deseas */
    text-align: center; /* Centra el texto */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta el ancho mínimo y máximo de cada columna */
    grid-gap: 20px; /* Espacio entre cuadrados */
    margin: 20px auto;
    max-width: 1200px; /* Ancho máximo para evitar superposiciones */
}

/* Media query para ajustar el número de columnas en pantallas más grandes */
@media screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta el ancho mínimo y máximo de cada columna */
    }
}

/* Establece el ancho máximo para evitar que el contenedor se expanda demasiado */
.grid-container {
    max-width: 100%;
    width: 80%;
}

.grid-item {
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-size: 18px;
    color: #666; /* Color de texto más suave */
    width: 200px;
    height: 200px;
    background-size: cover;
}

.grid-item:hover {
    cursor: pointer;
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
}

#image-form {
    text-align: center;
    margin-bottom: 20px;
}

#month-select {
    margin-right: 10px;
    padding: 5px;
    border: 2px solid #333;
}

#upload-button {
    padding: 8px 16px;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#upload-button:hover {
    background-color: #ff8c81;
}
